<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }} - 
       {% endif %}
       Alasdair Dewar
     </title>
     <meta name="author" content="Alasdair Dewar" />
     {% if page.summary %}
       <meta namne="description" content="{{ page.summary }}" />
     {% endif %}

     {% for css in page.css %}
       <link rel="stylesheet" href="{{ css }}" type="text/css" />
     {% endfor %}
  </head>
  <body>
    <div id="site">
      <h1><a href="/">Alasdair Dewar</a></h1>

      <div id="content">
        {{ content }}
      </div>
        <div class="footer">
            <div class="contact">
                <p>
                Alasdair Dewar
                </p>
            </div>
            <div class="contact">
                <p>
                    <a href="http://github.com/adewar">github.com/adewar</a><br />
                    <a href="http://twitter.com/alasdairdewar">twitter.com/alasdairdewar</a><br />
                </p>
            </div>

        </div>

    </div>

    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}

  </body>
</html>
