body {
	margin-left:1em;
	margin-right:1em;
	font-size:24pt;
}

.site {
	width: 100%;
}

ul.posts span.seperator {
	display:none;
}

ul.posts a {
	display:block;
}

ul.posts blockquote {
	font-size: 90%;
    color: #888;
}

ul.posts blockquote a {
	display:inline;
}
